[color]
  dif = auto
  diff = auto
  status = auto
  branch = auto
  log = auto
[push]
	default = simple
[init]
	defaultBranch = main
[user]
	email = 24231+huned@users.noreply.github.com
[pull]
	rebase = true
