[submodule ".local/share/nvim/site/pack/huned/start/fzf"]
	path = .local/share/nvim/site/pack/huned/start/fzf
	url = https://github.com/junegunn/fzf
[submodule ".local/share/nvim/site/pack/huned/start/vim-polyglot"]
	path = .local/share/nvim/site/pack/huned/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule ".local/share/nvim/site/pack/huned/start/fzf.vim"]
	path = .local/share/nvim/site/pack/huned/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule ".local/share/nvim/site/pack/huned/start/vim-one"]
	path = .local/share/nvim/site/pack/huned/start/vim-one
	url = https://github.com/rakr/vim-one
[submodule ".local/share/nvim/site/pack/huned/start/codecompanion.nvim"]
	path = .local/share/nvim/site/pack/huned/start/codecompanion.nvim
	url = https://github.com/olimorris/codecompanion.nvim
[submodule ".local/share/nvim/site/pack/huned/start/nvim-treesitter"]
	path = .local/share/nvim/site/pack/huned/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule ".local/share/nvim/site/pack/huned/start/plenary.nvim"]
	path = .local/share/nvim/site/pack/huned/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule ".local/share/nvim/site/pack/huned/start/catppuccin"]
	path = .local/share/nvim/site/pack/huned/start/catppuccin
	url = https://github.com/catppuccin/nvim
