[submodule ".vim/pack/huned/start/vim-polyglot"]
	path = .local/share/nvim/site/pack/huned/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule ".vim/pack/huned/start/onedark.vim"]
	path = .local/share/nvim/site/pack/huned/start/onedark.vim
	url = https://github.com/joshdick/onedark.vim
